@font-face {
    font-family: "Vazir-bold";
    src: url(./../Font/Vazir-Bold.woff2);
}
@font-face {
    font-family: "Vazir-light";
    src: url(./../Font/Vazir-Light.woff2);
}
@font-face {
    font-family: "Vazir-medium";
    src: url(./../Font/Vazir-Medium.woff2);
}
@font-face {
    font-family: "Vazir-regular";
    src: url(./../Font/Vazir-Regular.woff2);
}
@font-face {
    font-family: "Vazir-thin";
    src: url(./../Font/Vazir-Thin.woff2);
}
@font-face {
    font-family: "Vazir-variable";
    src: url(./../Font/Vazir-Variable.woff2);
}
* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f6f6f6;
}
header {
    background-color: #FFF;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(228, 228, 228);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .05);
}

.container {
    width: 100%;
    margin: auto;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo__img {
    width: 80px;
    /* height: 30px; */
}

.header__logo {
    margin-top: 15px;
    display: inline;
}

.header__cols {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
}

.header__colFirst ,
.header__colSecond ,
.header__colThird {
    display: flex;
    align-items: center;
    font-family: "Vazir-variable";
}

.products_categories {
    display: flex;
    align-items: center;
}

.products_categories p{
    font-size: 16px;
    color: gray;
    user-select: none;
}

.brands {
    font-size: .7rem;
    color: #fff;
    user-select: none;
    background-color: #2B2D42;
    padding: 8px 11px;
    border-radius: 12px;
    margin: 0 15px;
    transition: .11s;
}

.brands:hover {
    background-color: #8D99AE;
}

.amazing_offers {
    animation: tik-tok .6s infinite;
    animation-direction: alternate;
    border-radius: 12px;
    transition: .3s ease, .3s ease;
    padding: 6px 12px;
    border: 1px solid #EF233C;
    user-select: none;
}

.amazing_offers_text {
    font-size: 0.8rem;
}

.amazing_offers:hover {
    animation: none;
    background-color: #EF233C;
    color: #fff;
}

.search_input {
    width: 350px;
    border: none;
    background-color: #eee;
    border-radius: 0 21px 21px 0;
    outline: 0;
    padding: 9px 15px;
    font-family: "Vazir-regular";
    font-size: 13px;
    font-weight: 200;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.search_button {
    width: 50px;
    height: 39px;
    border-radius: 21px 0 0 21px;
    margin-right: -1px;
    background-color: #EF233C;
    cursor: pointer;
    z-index: 100;
    border: none;
}


/* Icons */
#bars_icon {
    color: rgb(163, 163, 163);
    font-size: 24px;
    margin: 10px;
}

#bars_icon:hover {
    color: #000;
}

#search_icon {
    color: #fff;
    font-size: 25px;
    transition: .1s;
    width: 100%;
}

#user_profile {
    font-size: 22px;
    margin: 0 8px;
    border-radius: 5px;
    color: #2B2D42;
    transition: .2s;
}

#shopping_basket {
    font-size: 22px;
    margin: 0 8px;
    color: #2B2D42;
    border-radius: 5px;
    transition: .2s;
}

#shopping_basket:hover ,
#user_profile:hover {
    color: #8D99AE;
}


/* Animations */
@keyframes tik-tok {
    0% {
        border-color: #EF233C;
        color: #EF233C;
        background-color: transparent;
    }

    49% {
        border-color: #EF233C;
        color: #EF233C;
        background-color: transparent;
    }

    51% {
        color: #fff;
        background-color: #EF233C;
    }

    100% {
        color: #fff;
        background-color: #EF233C;
    }
}