@font-face {
    font-family: "Vazir-bold";
    src: url(./../Font/Vazir-Bold.woff2);
}
@font-face {
    font-family: "Vazir-light";
    src: url(./../Font/Vazir-Light.woff2);
}
@font-face {
    font-family: "Vazir-medium";
    src: url(./../Font/Vazir-Medium.woff2);
}
@font-face {
    font-family: "Vazir-regular";
    src: url(./../Font/Vazir-Regular.woff2);
}
@font-face {
    font-family: "Vazir-thin";
    src: url(./../Font/Vazir-Thin.woff2);
}
@font-face {
    font-family: "Vazir-variable";
    src: url(./../Font/Vazir-Variable.woff2);
}
* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "vazir";
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #EDF2F4;
}
header {
    background-color: #FFF;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(228, 228, 228);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .05);
}
.container {
    width: 97%;
    margin: auto;
}
.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logo__img {
    width: 120px;
    height: 30px;
}
.header__logo {
    margin: 15px 0 5px 0 !important;
    width: 100%;
    text-align: center;
}
.header__cols {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.header__colFirst ,
.header__colSecond ,
.header__colThird {
    display: flex;
    align-items: center;
    font-family: "Vazir-medium";
}
.header__colFirst a,
.header__colSecond a,
.header__colThird a {
    text-decoration: none;
}
.products_categories {
    display: flex;
    align-items: center;
}
.products_categories p{
    font-size: 16px;
    color: gray;
    user-select: none;
}
.brands {
    font-size: 13px;
    color: #fff;
    user-select: none;
    background-color: #2B2D42;
    padding: 9px 10px;
    border-radius: 12px;
    margin: 0 30px;
    transition: .11s;
}
.brands:hover {
    background-color: #8D99AE;
}
.amazing_offers {
    animation: tik-tok .6s infinite;
    animation-direction: alternate;
    border-radius: 12px;
    transition: .3s ease, .3s ease;
    padding: 6px 9px;
    border: 1px solid #EF233C;
    user-select: none;
}
.amazing_offers:hover {
    animation: none;
    background-color: #EF233C;
    color: #fff;
}
.amazing_offers_text {
    font-size: 0.8rem;
}
.search_input {
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 16px;
    outline: 0;
    padding: 7px 15px 7px 45px;
    font-family: "Vazir-regular";
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    z-index: 100;
}


/* Icons */
#bars_icon {
    color: rgb(163, 163, 163);
    font-size: 24px;
    margin: 10px;
}
#bars_icon:hover {
    color: #000;
}
#search_icon {
    font-size: 21px;
    color: gray;
    position: relative;
    left: 48px;
    z-index: 101;
    padding: 0 15px;
}
#search_icon:hover {
    color: #000;
}
#user_profile {
    font-size: 24px;
    color: #fff;
    padding: 10px 13px;
    border-radius: 5px;
    color: #2B2D42;
    transition: .11s;
}
#shopping_basket {
    font-size: 24px;
    color: #fff;
    margin: 0 20px 0 0;
    color: #2B2D42;
    padding: 10px 12px 10px 8px;
    border-radius: 5px;
    transition: .11s;
}
#shopping_basket:hover ,
#user_profile:hover {
    color: #8D99AE;
}


/* Animations */
@keyframes tik-tok {
    0% {
        border-color: #EF233C;
        color: #EF233C;
        background-color: transparent;
    }
    49% {
        border-color: #EF233C;
        color: #EF233C;
        background-color: transparent;
    }
    51% {
        color: #fff;
        background-color: #EF233C;
    }
    100% {
        color: #fff;
        background-color: #EF233C;
    }
}