/* Header */

.header__thumbs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link__pics {
  width: 30%;
  margin-right: 50px;
}
.link__pic {
  margin: 10px 0;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 480px;
  height: 240px;
}
.black__back.show {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
}
.swiper-header {
  width: 60%;
  height: 502px;
  position: absolute;
  border-radius: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #d90429 !important;
  width: 25px !important;
  border-radius: 4px !important;
  transition: 0.15s linear !important;
}

.swiper-slide-img img {
  height: 100%;
}

.header-slider {
  height: 550px;
}

/* Section Offrooz */

.fa-percentage {
  color: #d60644;
  font-size: 1.5rem;
  border: 2px solid #d60644;
  padding: 3px 6px;
  border-radius: 50%;
}

.offrooz {
  border-radius: 25px;
  background-color: #f9f9f9;
}

.offrooz-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  border-radius: 25px 25px 0 0;
  height: 80px;
}

.offrooz-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.offrooz-title {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.offrooz-timer {
  margin-right: 30px;
}

.counter-wraper {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.counter-circle {
  border: 2px solid #d90429;
  border-radius: 50%;
  margin: 0 4px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.count-value {
  margin-top: 14px;
  color: #d90429;
}

.both-dot {
  color: #d90429;
  font-weight: 900;
  margin-top: 15px;
}

.see-all-text {
  color: #d90429;
  padding: 5px 20px;
  background-color: #fff;
  border: 1px solid #d90429;
  border-radius: 22px;
  margin-left: 45px;
  font-size: 0.8rem;
}

.see-all-text:hover {
  background-color: #d90429;
  color: #fff;
  transition: 0.1s linear;
}

.offrooz-content {
  display: flex;
}

.offrooz-slider {
  width: 70%;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0 0 0 25px;
}

.card-selected-img {
  text-align: center;
  margin-top: 40px;
}

.card-selected-title {
  color: #9e9e9e;
  margin: 20px 0;
  font-weight: 100;
  font-size: 1.1rem;
}

.card-discounts {
  display: flex;
  margin-top: 20px;
}

.card-percent {
  padding: 8px 12px;
  background-color: #d60644;
  color: #fff;
  border-radius: 20px;
  text-align: center;
}

.card-selected-text {
  color: #7a7a7a;
}

.card-selected-text:hover {
  color: #acacac;
}

.selected-product {
  width: 30%;
  border-radius: 0 0 25px 0;
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
}

.card-selected-content {
  border-bottom: 1px solid #e0e0e0;
}

.card-selected-price {
  display: flex;
  flex-direction: row;
}

.card-off-price {
  color: #d90429;
  font-size: 1.2rem;
}

.card-real-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-left: 10px;
  color: #9e9e9e;
}

.card-selected-footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.btn-selected-footer {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: #d60644;
  color: #fff;
  border-radius: 32px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.btn-selected-footer:hover {
  background-color: #fff;
  color: #d60644;
  border: 1px solid #d60644;
  transition: 0.2s linear;
}

.card-selected-btn {
  color: #fff;
}

.btn-selected-footer:hover .card-selected-btn {
  color: #d60644;
  transition: 0.2s linear;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 60px;
}

.swiper-offrooz {
  width: 90%;
}

.slider-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
}

.card-title {
  top: 30px;
  position: absolute;
}

.card-title-text {
  color: #7a7a7a;
  font-weight: 300;
  font-size: 0.9rem;
}

.card-title-text:hover {
  color: #acacac;
}

.card-btn {
  position: absolute;
  bottom: 50px;
  padding: 10px 24px;
  background-color: #fff;
  border: 1px solid #d60644;
  border-radius: 23px;
  letter-spacing: -1px;
  color: #d60644;
}

.real-price {
  text-decoration: line-through;
  color: #9e9e9e;
  margin-left: 5px;
  font-size: 0.7rem;
}

.card-btn:hover {
  background-color: #d60644;
  color: #fff;
  transition: 0.1s linear;
}

.card-btn:hover .real-price {
  color: #fff;
  transition: 0.1s linear;
}

/* Section banner */

.section-banner {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner1 {
  width: 48%;
  margin-right: 20px;
}

.banner2 {
  width: 48%;
  margin-left: 20px;
}

.banner1 img {
  width: 100%;
  border-radius: 30px;
}

.banner2 img {
  width: 100%;
  border-radius: 30px;
}

/* Best selling product */

.best-selling-product {
  margin-top: 40px;
}

.best-selling-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.best-selling-product-header-see-more {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #909090;
}

.best-selling-product-header-see-more:hover {
  color: #b9b9b9;
}

.best-selling-product-header-see-more:hover .fa-long-arrow-alt-left {
  margin-right: 10px;
  transition: 0.15s linear;
}

.fa-long-arrow-alt-left {
  margin-right: 4px;
  font-size: 0.7rem;
}

.best-selling-prouduct-header-title {
  color: #585858;
  font-weight: 700;
  font-size: 17px;
}

.best-selling-content {
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.swiper-best-selling {
  display: flex;
  padding: 20px !important;
  text-align: center;
  margin-bottom: 40px;
}

.card {
  padding: 35px;
  margin-left: 20px;
  border-radius: 25px;
}

.swiper-slide-best-sell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0px 0px 2px #909090;
}

.img {
  width: 125px;
  margin-right: 8px;
}

.title {
  font-size: 13px;
  line-height: 20px;
  color: #707070;
  margin-top: 8px;
}

.title:hover {
  color: #9e9e9e;
}

.discount-main {
  display: flex;
  justify-content: end;
}

.discount {
  margin-top: 30px;
  padding: 6px 2px;
  background-color: #d90429;
  color: #fff;
  border-radius: 20px;
  width: 40px;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
}

.price {
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
  align-items: center;
}

.discount-price {
  color: #d90429;
  font-size: 14px;
}

.fa-percentage-1 {
  font-size: 18px;
  border: none;
  position: absolute;
  top: 30px;
  right: 10px;
  border: 1px solid #d90429;
  opacity: 0;
}

.card-link:hover .fa-percentage-1 {
  opacity: 1;
  transition: 0.2s linear;
}

/* Section Offer Motan */

.offer-motan {
  margin-top: 40px;
}

.offer-motan-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 30px;
}

.offer-motan-header-title {
  color: #585858;
  font-weight: 700;
  font-size: 17px;
}

.offer-motan-content {
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.swiper-offer-motan {
  display: flex;
  padding: 20px !important;
  text-align: center;
  margin-bottom: 40px;
}

.swiper-slide-offer-motan {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Winter Skin Care */

.winter-skin-care {
  margin-top: 40px;
}

.winter-skin-care-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 30px;
}

.winter-skin-care-title {
  color: #585858;
  font-weight: 700;
  font-size: 17px;
}

.winter-skin-care-content {
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.swiper-winter-skin-care {
  display: flex;
  padding: 20px !important;
  text-align: center;
  margin-bottom: 40px;
}

.swiper-slide-winter-skin-care {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-first {
  margin-right: 10px;
}

/* offer banner */

.offer-banners {
  margin-top: 35px;
}

.offer-banner {
  display: flex;
}

.offer-banner-card {
  margin: 0 10px;
}

.offer-banner-img {
  max-width: 100%;
  border-radius: 25px;
}

.banners-2 {
  display: flex;
  margin-top: 5px;
}

.banner-2-link {
  margin: 0 10px;
}

/* Popular perfumes */

.popular-perfumes {
  margin-top: 30px;
}

.popular-perfumes-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 30px;
}

.popular-perfumes-title {
  color: #585858;
  font-weight: 700;
  font-size: 17px;
}

.popular-perfumes-content {
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.swiper-popular-perfumes {
  display: flex;
  padding: 20px !important;
  text-align: center;
  margin-bottom: 40px;
}

.popular-perfumes-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Suitable for hair */

.suitable-for-hair {
  margin-top: 30px;
}

.suitable-for-hair-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 30px;
}

.suitable-for-hair-title {
  color: #585858;
  font-weight: 700;
  font-size: 17px;
}

.suitable-for-hair-content {
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.swiper-suitable-for-hair {
  display: flex;
  padding: 20px !important;
  text-align: center;
  margin-bottom: 40px;
}

.suitable-for-hair-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}