.page-wrapper {
	display: flex;
}
.products-filter_section {
	min-width: 18rem;
	font-family: Vazir-medium;
}
.filter {
	border-radius: 1.8rem;
	margin: 1rem 0;
	background-color: white;
}
.filter_header {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
	align-items: center;
	color: #707070;
	height: 5rem;
}
.filter_dropdown_icon_transform {
	transform: rotate(180deg);
}
.filter_header-border {
	border-bottom:1px solid #e8e8e8;
}
.filter_title {
	font-size: 1rem;
}
.filter_dropdown_icon {
	font-weight: 150;
}
.filter_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem 0;
	transition: height 1s;
	padding: 1rem;
}
.filter_hidden {
	display: none;
}
.filter_search {
	padding: 0.5rem;
	border-radius: 50px;
	border: 1px solid #d5d5d5;
	overflow: hidden;
	display: flex;
	color: #9e9e9e;
	margin: 1rem 0;
}
.filter_search_input {
	flex-grow: 1;
	outline: none;
	color: #9e9e9e;
}
.filter_search_button {
	background-color: white;
	height: 100%;
	width: 2rem;
	cursor: pointer;
	text-align: center;
	line-height: 1.5rem;
}
.filter_search_button i {
	font-size: 1rem;
	font-weight: 100;
	color: #9e9e9e;
}
li.checkbox {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
}
.simple-checkbox {
	appearance: none;
	-webkit-appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	border: 1px solid #d1cfcf;
	position: relative;
}
.simple-checkbox:checked {
	background-color: #EF233C;
}
.simple-checkbox:checked::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "\f00c";
	color: white;
	font-family:"Font Awesome 5 Pro";
	font-weight:500;
	display: flex;
	align-items: center;
	justify-content: center;
}
label {
	font-family: Vazir-light;
	color: #909090;
	margin: 0 0.3rem !important;
}
.price-range {
	font-family: Vazir-light;
	font-size: 0.9rem;
	text-align: center;
}
.price-filter-input {
	width: 5rem;
	height: 2rem;
	border: 1px solid #d5d5d5;
	border-radius: 1rem;
	display: inline;
	margin: 0 0.2rem;
	text-align: center;
	outline: none;
}
.set_price_range {
	background-color: #D90429;
	width: 10rem;
	height: 3rem;
	color: white;
	border-radius: 2rem;
	margin: 1rem auto;
	cursor: pointer;
}
.set_price_range:hover {
	background-color: #EF233C;
}
.toggle-filter {
	border-radius: 1.8rem;
	margin: 1rem 0;
	background-color: white;
	display: flex;
	padding: 0 2rem;
	align-items: center;
	color: #707070;
	height: 5rem;
}
.toggle-box {
	position: relative;
	width: 3rem;
	height: 1.5rem;
	background-color: #8D99AE;
	margin: 0 1rem;
	border-radius: 1rem;
}
.toggle-checkbox {
	position: absolute;
	appearance: none;
	width: 100%;
	height: 100%;
}
.toggle-checkbox:checked + .toggle-button {
	right: 1.5rem;
}
.toggle-button {
	position: absolute;
	right: 0;
	height: 1.5rem;
	width: 1.5rem;
	background-color: white;
	border-radius: 1rem; 
	box-shadow: 0px 0px 10px -5px #000000;
	transition: .2s;
}
.flex {
	flex-grow: 1;
	margin: 0 1rem;
}

.products_section {
	background: white;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.card__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1rem;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.card__container i {
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px;
	border: 1px solid;
	border-radius: 100%;
	font-size: 13px;
	color: #d60644;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	gap: 1.5rem;
	border-bottom: 1px solid #7070702e;
	padding: 16px 20px;
	transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-o-transition: all 2s;
}

.nav a, .nav .sort {
	text-decoration: none;
	font-size: 14px;
	color: #707070;
}

.nav a:hover {
	color: #27c6df;
}

.nav .nav__item:nth-of-type(2) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.nav .nav__item:nth-of-type(2) a {
	background-color: transparent;
	border: 1px solid #27c6df;
	color: #27c6df;
	border-radius: 30px;
	padding: 2px 10px;
}

.product {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	gap: 2rem;
	max-width: 100%;
	background-color: white;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	margin-top: 4rem;
}

.product li {
	list-style: none;
}

.card__body {
	max-width: 270px;
	position: relative;
}

.product__card {
	border-radius: 30px;
	padding: 25px;
	-ms-flex-negative: 2;
		flex-shrink: 2;
	-ms-flex-preferred-size: 215px;
		flex-basis: 180px;
}

.product__card:hover {
	border: 1px solid #7070701a;
	-webkit-box-shadow: 2px 2px #8888880d;
			box-shadow: 2px 2px #8888880d;
}

.border {
	position: relative;
	padding: 11px;
}

.card__title {
	font-size: 8px !important;
	line-height: 1.2rem !important;
	text-align: center;
	margin-bottom: 27px;
}

.card__title a {
	text-decoration: none;
}

.card__title h2 {
	color: #707070;
}

.card__img {
	width: 140px;
	max-width: 100%;
	display: block;
	margin: auto;
}

.card__img img {
	max-width: 100%;
	border-radius: 30px;
}

.inline__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
}

.discount {
	background-color: #d60644;
	width: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	font-weight: 500;
	color: #eee;
	border-radius: 20px;
	-webkit-transform: translateX(14px);
			transform: translateX(14px);
}

.discount small {
	font-size: 10px;
}

.free {
	background-color: transparent;
	background-color: transparent;
	border: 1px solid #27c6df;
	color: #27c6df;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	font-size: 8px;
	border-radius: 20px;
	-webkit-transform: translateX(14px);
			transform: translateX(14px);
	margin-left: 4px;
	padding: 3px;
}

.price {
	margin-top: 20px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.price :first-child {
	-ms-flex-item-align: end;
		align-self: flex-end;
	color: #9e9e9e;
	text-decoration: line-through;
	font-size: 14px;
}
.price :nth-of-type(2) {
	color: #d60644;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 8px;
}

.price :nth-of-type(2) small {
	font-size: 0.85rem;
	color: #d60644;
}

.unstyle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	gap: 1.5rem;
	border-top: 1px solid #7070702e;
	padding: 30px 0 10px;
}

.unstyle li {
	list-style: none;
}

.unstyle i {
	padding: 5.5px 7px;
	border: 1px solid #70707085;
	border-radius: 15px;
	font-size: 15px;
	opacity: .7;
}

.current__page span {
	background-color: #27c6df;
	color: #fff;
	min-width: 30px;
	height: 30px;
	padding: 2.5px 12.5px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.individual__page:hover {
	color: #9e9e9e;
	cursor: pointer;
}

/* -------------------------Media-------------------------- */
@media (min-width: 992px) {
	.products_section {
		/* max-width: 60%; */
	}
}
